<!DOCTYPE html>
<html>
  <head>
    <title>What is H.A.P.P.Y.?</title>
    <link rel="stylesheet" href="/styles/about1.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Ropa+Sans|Maven+Pro&display=swap" rel="stylesheet">
  </head>
  <body><b>
    <center>
    <ul>
    <li><a href="login">Login</a></li>
    <li><a href="account">Create Account</a></li>
    <li><a href="mood">Moods</a></li>
    <li><a href="dailyrec">Recomendations</a></li>
    <li><a href="food">Food</a></li>
    <li><a href="activity">Exercises</a></li>
    <li><a href="social">Attractions</a></li>
    </ul>
    </center>
    <nav class = "icon">
      <p><u>H</u> e a l t h</p>
      <p><u>A</u> p p r e c i a t i o n</p>
      <p><u>P</u> e a c e</p>
      <p><u>P</u> o s i t i v i t y</p>
      <p><u>Y</u> o g a</p>
    </nav>
    <center>
      <br><br><br><br>
      <h2>Quote of the Day</h2>
      <h3>"{{quote}}" {{author}}</h3>
      <h1>Welcome to H.A.P.P.Y.</h1>
      <button>Login!</button>
      <h4>Our app gives you recommendations for what to do when you are stressed out.</h4>
      <h4>Just login and it'll automatically suggest places to eat or have fun at.</h4>
      <h4>It also gives you exercise tips to help you maintain a healthy and balanced lifestyle. </h4>
    </center></b>
  </body>
</html>
