<!DOCTYPE html>
<html>
  <head>
    <title>What is H.A.P.P.Y.?</title>
    <link rel="stylesheet" href="/styles/about1.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- <center>
      <ul class="topbar">
      <li><a href="login">Login</a></li>
      <li><a href="account">Create Account</a></li>
      <li><a href="mood">Moods</a></li>
      <li><a href="dailyrec">Recomendations</a></li>
      <li><a href="food">Food</a></li>
      <li><a href="yoga">Yoga</a></li>
      <li><a href="social">Attractions</a></li>
      </ul>
    </center> -->
    <!-- <nav class = "icon">
      <p><u>H</u> e a l t h</p>
      <p><u>A</u> p p r e c i a t i o n</p>
      <p><u>P</u> e a c e</p>
      <p><u>P</u> o s i t i v i t y</p>
      <p><u>Y</u> o g a</p>
    </nav>  -->
    <div class="top">
      <center>
      <h1 id="happy">H A P P Y</h1>
      <button><a href="login">Login Here!</a></button>
    </div>


    <div class="box1">
      <center>
        <h2 id="quotetitle">Quote of the Day:</h2>
    </div>

    <div class="box2">
      <center>
        <h3 id="quote">"{{quote}}" {{author}}</h3>
    </div>

    <div class="box3">
      <h2> </h2>
    </div>

    <div class="box4">
      <center>
      <h4 class="info">Our app gives you recommendations for what to do when you are stressed out.</h4>
    </div>

    <div class="box5">
      <p><u>H</u> e a l t h</p>
      <p><u>A</u> p p r e c i a t i o n</p>
      <p><u>P</u> e a c e</p>
      <p><u>P</u> o s i t i v i t y</p>
      <p><u>Y</u> o g a</p>
    </div>

    <div class="box6">
      <h2> </h2>
    </div>

    <div class="box7">
      <center>
      <h4 class="info">Just login and it'll automatically suggest places to eat or have fun at.</h4>
    </div>

    <div class="box8">
      <center>
      <h4 class="info">It also gives you exercise tips to help you maintain a healthy and balanced lifestyle. </h4>
    </div>

  </body>
</html>
