<!DOCTYPE html>
<html>
  <head>
    <title>What is H.A.P.P.Y.?</title>
    <link rel="stylesheet" href="/styles/about1.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="https://ama-happy.appspot.com/">About</a><br><br>
      <a href="https://ama-happy.appspot.com/login">Login</a><br><br>
      <a href="https://ama-happy.appspot.com/account">Create An Account</a>
    </div>

    <span onclick="openNav()"><i class="material-icons md-36">menu</i></span>

    <div id="main">
      <div class="top">
        <h1 id="happy">H A P P Y</h1>
        <button><a href="login">Login Here!</a></button>
      </div>

      <div class="box1">
        <div class="innerBox1">
          <h2 id="quotetitle">Quote of the Day:</h2>
        </div>
      </div>

      <div class="box2">
        <div class="innerBox2">
          <h3 id="quote">"{{quote}}" {{author}}</h3>
        </div>
      </div>

      <div class="box3">
        <div class="innerBox3"><b>
          <h2>Developers</h2>
        Created by rising college freshmen (Anisha Atwal, Ahllain Santos, and Michael Yohannes) as part of Google's 2019 Computer Science Summer Institute in Seattle, Washington.
      </div></b>
      </div>

      <div class="box4">
        <div class="innerBox4">
          <h4 class="info">Our app gives you recommendations for what to do when you are bored or stressed out.</h4>
        </div>
      </div>

      <div class="box5">
        <div class="innerBox5">
          <p><u>H</u> e a l t h</p>
          <p><u>A</u> p p r e c i a t i o n</p>
          <p><u>P</u> e a c e</p>
          <p><u>P</u> o s i t i v i t y</p>
          <p><u>Y</u> o g a</p>
        </div>
      </div>

      <div class="box6">
        <div class="innerBox6">
          <h4 class="info">Follow Our Instagram Accounts!</h4>
          <h5>@ahhhlane</h5>
          <h5>@anishatwal</h5>
          <h5>@michaelyohannes2001</h5>
        </div>
      </div>

      <div class="box7">
        <div class="innerBox7">
          <h4 class="info">Just login and it'll automatically suggest places to eat or have fun at.</h4>
        </div>
      </div>

      <div class="box8">
        <div class="innerBox8">
          <h4 class="info">It also gives you exercise tips to help you maintain a balanced lifestyle. </h4>
        </div>
      </div>
    </div>


  </body>
</html>
