<!DOCTYPE html>
<html>
  <head>
    <title>Create an Account</title>
    <link rel="stylesheet" href="/styles/account1.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow|Cinzel+Decorative|Overlock&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </head>

  <body>
    <div>
      <h1 id="happy">H A P P Y</h1>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="https://ama-happy.appspot.com/">About</a><br><br>
      <a href="login">Login</a><br><br>
      <a href="account">Create An Account</a>
    </div>

    <span onclick="openNav()"><i class="material-icons md-36">menu</i></span>

    <div id="main">

      <table align="left" style="table-layout:fixed">
      <form action="/reciever">
      <tr>
        <td>
          <h2>Create A New Profile:</h2>
          <h3>Username</h3>
          <input id="username" type="text" required></input>
          <h3>Email</h3>
          <input id="email" type="email" required></input>
          <h3>Password</h3>
          <input id="password" type="password" required></input><br><br><br>
        </td>
      </tr>
      </table>
      <table align="right" style="table-layout:fixed">
        <tr>
          <td>
            <h3>Preferred Interest</h3>
            <select>
              <option>Indoor</option>
              <option>Outdoor</option>
            </select>
            <h3>Preferred Time</h3>
            <select>
              <option>Day</option>
              <option>Night</option>
            </select>
            <h3>Preferred Price Level</h3>
            <input type="range" id="range" min="1" max="4"><br>1 &nbsp &nbsp &nbsp 2 &nbsp &nbsp &nbsp 3 &nbsp &nbsp &nbsp 4</input>
            <br><br><br>
            <input type="submit" value="Submit!" action="/datareciever"></input>
            <input type="reset"></input>
          </form>
          </td>
        </tr>
      </table>
      <br>
    </div>
    <!--<section>
      <h4> <a href="login">I already have an account</a></h4>
    </section>-->
  </body>
</html>
