<!DOCTYPE html>
<html>
  <head>
    <title>Create an Account</title>
    <link rel="stylesheet" href="/styles/account1.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
  </head>

  <body>
    <h1>H   A   P   P   Y</h1>

    <center>
      <ul>
        <li><a href="login">Login</a></li>
        <li><a href="account">Create Account</a></li>
        <li><a href="mood">Moods</a></li>
        <li><a href="dailyrec">Recomendations</a></li>
        <li><a href="food">Food</a></li>
        <li><a href="activity">Exercises</a></li>
        <li><a href="social">Attractions</a></li>
      </ul>
    </center>

    <section id="create">
      <h2>Create A New Account</h2>
    </section>

  </body>
</html>
