<!DOCTYPE html>
<html>
  <head>
    <title>Create/Edit a Profile</title>
    <link rel="stylesheet" href="/styles/account1.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow|Cinzel+Decorative|Overlock&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="https://ama-happy.appspot.com/">About</a><br><br>
      <a href="login">Login</a><br><br>
      <a href="account">Create/Edit a Profile</a>
    </div>

    <span onclick="openNav()"><i class="material-icons md-36">menu</i></span>

    <div id="main">
      <table align="left" style="table-layout:fixed">
      <form action="/datareciever">
      <tr>
        <td>
          <!--<h2>Create A New Profile:</h2>
          <h3>Username</h3>
          <input id="username" type="text" required></input>
          <h3>Email</h3>
          <input id="email" type="email" required></input>
          <h3>Password</h3>
          <input id="password" type="password" required></input><br><br><br>-->
        </td>
      </tr>
      </table>
      <table align="right" style="table-layout:fixed">
        <tr>
          <td>
            <h3>Preferred Interest</h3>
            <select name="interest">
              <option value="indoor">Indoor</option>
              <option value="outdoor">Outdoor</option>
            </select>
            <h3>Preferred Time</h3>
            <select name="time">
              <option value="day">Day</option>
              <option value="night">Night</option>
            </select>
            <h3>Preferred Price Level</h3>
            <input type="range" name="range" min="1" max="4"><br>1 &nbsp &nbsp &nbsp 2 &nbsp &nbsp &nbsp 3 &nbsp &nbsp &nbsp 4</input>
            <br><br><br>
            <input type="submit" value="Submit!"></input>
            <input type="reset"></input>
          </form>
          </td>
        </tr>
      </table>
      <br>
    </div>
    <!--<section>
      <h4> <a href="login">I already have an account</a></h4>
    </section>-->
  </body>
</html>
