<!DOCTYPE html>
<html>
  <head>
    <title>Food Options</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <body>
      <p id="data"></p>
      <br>
    </body>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 70%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var map;
      var service;
      var infowindow;
      function callback(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            var place = results[i];
            createMarker(results[i]);
          }
        }
      }
      function initMap() {
              var lat=0.00
              var lon=0.00
              if (navigator.geolocation) {
                  console.log("hi")
                  navigator.geolocation.getCurrentPosition(function(position){
                    console.log(position);
                    $.get( "http://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false", function(data) {
                      console.log(data);
                    })
                  });

              }
              var sydney = new google.maps.LatLng(lat, lon);
              infowindow = new google.maps.InfoWindow();
              map = new google.maps.Map(
                  document.getElementById('map'), {center: sydney, zoom: 15});
              var request = {
                query: 'Museum of Contemporary Art Australia',
                fields: ['name', 'geometry'],
              };
              service = new google.maps.places.PlacesService(map);
              service.textSearch(request, callback);
              service.findPlaceFromQuery(request, function(results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                  for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                  }
                  map.setCenter(results[0].geometry.location);
                }
              }
             )
            }

      function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
    </script>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqJGmC3v_P3lGDO-qILr-XA0m4axi3oY8&libraries=places&callback=initMap" async defer></script>
  </body>
</html>
