<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>Video Games</title>
  </head>
  <body>
    <link rel="stylesheet" href="/styles/gamerec1.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="https://ama-happy.appspot.com/">About</a><br><br>
      <a href="https://ama-happy.appspot.com/dailyrec">Recommendations</a><br><br>
      <a href="https://ama-happy.appspot.com/foodhandler">Food</a><br><br>
      <a href="https://ama-happy.appspot.com/activity">Activity</a><br><br>
      <a href="https://ama-happy.appspot.com/socialhandler">Attractions</a><br><br>
      <a href="https://ama-happy.appspot.com/logout">Logout</a>tps://ama-happy.appspot.com/">About</a><br><br>
    </div>

    <span onclick="openNav()"><i class="material-icons md-36">menu</i></span>

    <div id="main">
      <div>
        <h1 id="happy">H A P P Y</h1>
      </div>
    </div>
    <p id="data">
      <h2>Latest games to get:</h2>
      {% for g in games %}
        <ul> <!--r.open, r.types-->
          <a id="tolink" href={{g.link}} target="_blank">{{g.name}}</a>
            <li>
              <a href={{g.link}} target="_blank"><img src={{g.imagelink}} alt={{g.imagelink}} width="250px" height="250px"></a>
              <br>
              Rating: {{g.stars}}
           </li>
           <!--<script type="text/javascript">
             let linkr="https://www.google.com/search?ei=IUs-XbDzC-ip0gKMsbTgDg&q="+r.name.replace(' ', '+')+"&oq="+r.name.replace(' ', '+')+"&gs_l=psy-ab.3..0i67l6j0l4.54309.55990..56167...0.0..0.47.135.3......0....1..gws-wiz.....0..0i71j0i131.H2kaNnPcR3I&ved=0ahUKEwjwh42v_NjjAhXolFQKHYwYDewQ4dUDCAo&uact=5";
             console.log(linkr);
             document.getElementById("tolink").onclick = function() {
              document.getElementById("tolink").href=linkr;
              return false;
            };
          </script>-->
        </ul>
      {% endfor %}
    </p>
  </body>
</html>
