<!DOCTYPE html>
<html>
  <head>
    <title>Login to Your Account</title>
    <link rel="stylesheet" href="/styles/login1.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Josefin+Slab&display=swap" rel="stylesheet">
  </head>
  <body><b>
    <nav class = "icon">
      <p><m>H</m> e a l t h</p>
      <p><m>A</m> p p r e c i a t i o n</p>
      <p><m>P</m> e a c e</p>
      <p><m>P</m> o s i t i v i t y</p>
      <p><m>Y</m> o g a</p>
    </nav>
    <center>
      <table>
        <tr>
          <td>
            <h5>Please login below</h5>
            <button onclick="window.location.href='{{url}}'">Click Here!</button>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
