<!DOCTYPE html>
<html>
  <head>
    <title>Login to Your Account</title>
    <link rel="stylesheet" href="/styles/about1.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
  </head>
  <body><b>
    <nav class = "icon">
      <p><u>H</u> e a l t h</p>
      <p><u>A</u> p p r e c i a t i o n</p>
      <p><u>P</u> e a c e</p>
      <p><u>P</u> o s i t i v i t y</p>
      <p><u>Y</u> o g a</p>
    </nav>
    <center>
      <table>
        <tr>
          <td>
            <h5>Please login below</h5>
            <button onclick="window.location.href='{{url}}'">Click Here!</button>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
