<!DOCTYPE html>
<html>
  <head>
    <title>Login to Your Account</title>
    <link rel="stylesheet" href="about1.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
  </head>
  <body><b>
    <center>
    <ul>
    <li><a href="login.html">Login</a></li>
    <li><a href="account.html">Create Account</a></li>
    <li><a href="mood.html">Moods</a></li>
    <li><a href="dailyrec.html">Recomendations</a></li>
    <li><a href="dailyrec.html">Food</a></li>
    <li><a href="activity.html">Exercises</a></li>
    <li><a href="social.html">Attractions</a></li>
    </ul>
    </center>
    <nav class = "icon">
      <p><u>H</u> e a l t h</p>
      <p><u>A</u> p p r e c i a t i o n</p>
      <p><u>P</u> e a c e</p>
      <p><u>P</u> o s i t i v i t y</p>
      <p><u>Y</u> o g a</p>
    </nav>
    <center>
      <table>
        <tr>
          <td>
            <h5>Please login below</h5>
            <form action="/action_page.php">
            <h2>Username/Email: <input type="text" name="Username"></h2>
            <h2>Password: <input type="text" name="Password"></h2>
            <button>Continue</button>
            </form>
            <h5>Don't have an account?</h5>
            <button>Click Here!</button>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
