<!DOCTYPE html>
<html>
  <head>
    <title>Logout to Your Account</title>
    <link rel="stylesheet" href="/styles/logout1.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Josefin+Slab&display=swap" rel="stylesheet">
  </head>
  <body><b>
    <center>
      <table style="margin-top: -30px">
        <tr>
          <td>
            <center><h5>Please logout below</h5></center>
            <button onclick="window.location.href='{{url}}'">Click Here!</button>
          </td>
        </tr>
        <tr>
          <td>
            <nav class = "icon">
              <p><m>H</m> e a l t h</p>
              <p><m>A</m> p p r e c i a t i o n</p>
              <p><m>P</m> e a c e</p>
              <p><m>P</m> o s i t i v i t y</p>
              <p><m>Y</m> o g a</p>
            </nav>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
