<!DOCTYPE html>
<html>
  <head>
    <title>Types of Moods</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="/scripts/mood.js"></script> -->
    <link rel="stylesheet" href="/styles/mood1.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </head>

  <body style="height:100%; margin:0px;">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="about">About</a><br><br>
      <a href="dailyrec">Recomendations</a><br><br>
      <a href="foodhandler">Food</a><br><br>
      <a href="activity">Yoga</a><br><br>
      <a href="socialhandler">Attractions</a><br><br>
      <a href="logout">Logout</a>
    </div>

    <span onclick="openNav()"><i class="material-icons md-36">menu</i></span>

    <div id="main">
      <div>
        <h1 id="happy">H A P P Y</h1>
      </div>

      <h2>Welcome {{name}},<br>Choose Your Current Mood:</h2>
      <form class="mood">
        <button id="stressed" onclick="/dailyrechandler">Stressed</button>
        <button id="scared" onclick="window.location.href='/dailyrechandler'">Scared</button>
        <button id="nervous" onclick="location.href='/dailyrechandler'">Nervous</button>
        <button id="mixed" onclick="location.href='/dailyrechandler'">Mixed Emotions</button>
        <button id="normal" onclick="location.href='/dailyrechandler'">Normal</button>
        <button id="relaxed" onclick="location.href='/dailyrechandler'">Relaxed</button>
        <button id="calm" onclick="location.href='/dailyrechandler'">Calm</button>
        <button id="cool" onclick="location.href='/dailyrechandler'">Cool</button>
        <button id="loved" onclick="location.href='/dailyrechandler'">Loved</button>
        <button id="romantic" onclick="location.href='/dailyrechandler'">Romantic</button>
        <button id="passionate" onclick="location.href='/dailyrechandler'">Passionate</button>
        <button id="vhappy" onclick="location.href='/dailyrechandler'">Very Happy</button>
      </form>
      </div>
    </div>
  </body>
</html>
