<!DOCTYPE html>
<html>
  <head>
    <title>Types of Moods</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="/scripts/mood.js"></script> -->
    <link rel="stylesheet" href="/styles/mood1.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </head>

  <body style="height:100%; margin:0px;">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="https://ama-happy.appspot.com/">About</a><br><br>
      <a href="https://ama-happy.appspot.com/dailyrec">Recomendations</a><br><br>
      <a href="https://ama-happy.appspot.com/foodhandler">Food</a><br><br>
      <a href="https://ama-happy.appspot.com/activity">Activity</a><br><br>
      <a href="https://ama-happy.appspot.com/socialhandler">Attractions</a><br><br>
      <a href="https://ama-happy.appspot.com/logout">Logout</a>
    </div>

    <span onclick="openNav()"><i class="material-icons md-36">menu</i></span>

    <div id="main">
      <div>
        <h1 id="happy">H A P P Y</h1>
      </div>

      <h2>Welcome {{name}},<br>Choose Your Current Mood:</h2>
      <form class="mood">
        <button id="stressed" type="button" onclick="changeColor(this.value)" value="black">Stressed</button>
        <button id="scared" type="button" onclick="changeColor(this.value)" value="firebrick">Scared</button>
        <button id="nervous" type="button" onclick="changeColor(this.value)" value="orange">Nervous</button>
        <button id="mixed" type="button" onclick="changeColor(this.value)" value="palegreen">Mixed Emotions</button>
        <button id="normal" type="button" onclick="changeColor(this.value)" value="aqua">Normal</button>
        <button id="relaxed" type="button" onclick="changeColor(this.value)" value="dodgerblue">Relaxed</button>
        <button id="calm" type="button" onclick="changeColor(this.value)" value="salmon">Calm</button>
        <button id="cool" type="button" onclick="changeColor(this.value)" value="pink">Cool</button>
        <button id="loved" type="button" onclick="changeColor(this.value)" value="khaki">Loved</button>
        <button id="romantic" type="button" onclick="changeColor(this.value)" value="green">Romantic</button>
        <button id="passionate" type="button" onclick="changeColor(this.value)" value="teal">Passionate</button>
        <button id="vhappy" type="button" onclick="changeColor(this.value)" value="lavender">Very Happy</button>
      </form>
      <script type="text/javascript">
        function changeColor(val){
          let url='/dailyrec/'+val
          if(window.location.pathname!==url){
            window.location.href=url
        }
        }
      </script>
      </div>
    </div>
  </body>
</html>
