<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercises To Help You Get Through Your Day!</title>
    <link rel="stylesheet" href="/styles/yoga1.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="dailyrec">Recomendations</a><br><br>
      <a href="foodhandler">Food</a><br><br>
      <a href="activity">Yoga</a><br><br>
      <a href="socialhandler">Attractions</a><br><br>
      <a href="logout">Logout</a>
    </div>

    <span onclick="openNav()"><i class="material-icons md-36">menu</i></span>

    <div id="main">                   
      <div>
        <h1 id="happy">H A P P Y</h1>
      </div>

      <div class="yogaa">
        <p id="yogatime">Yoga Time!</p>
        <p id="pose">Your pose is: <br>{{name}}</p>
        <a href="{{link}}"><button id="images">Images of {{name}}</button></a>
        <button id="refresh" value="Refresh Page" onClick="window.location.reload();">Another Pose</button>
      </div>

    </div>
  </body>
</html>
