<!DOCTYPE html>
<html>
  <head>
    <title>Exercises To Help You Get Through Your Day!</title>
    <link rel="stylesheet" href="/styles/about1.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Ropa+Sans|Maven+Pro&display=swap" rel="stylesheet">
  </head>
  <body><b>
    <center>
      <ul>
      <li><a href="login">Login</a></li>
      <li><a href="account">Create Account</a></li>
      <li><a href="mood">Moods</a></li>
      <li><a href="dailyrec">Recomendations</a></li>
      <li><a href="food">Food</a></li>
      <li><a href="yoga">Yoga</a></li>
      <li><a href="social">Attractions</a></li>
      </ul>
    </center>
  </body>
</html>
