body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/aa/Polarlicht_2.jpg');
  background-size: 160%;
  color: black;
  margin: 0px;
  background-repeat: no-repeat;
  background-size:cover;
}

select {
  font-size: 15pt;
  font-family: 'Overlock', cursive;
  text-align: center;
  color: blue;
  text-shadow: 0 1px black;
}

input {
  font-family: 'Overlock', cursive;
  text-align: center;
}


#happy {
  background-color: gray;
  color: white;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 75px;
  margin: 0;
}

h3 {
  font-family: 'Overlock', cursive;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px black;
}

h1 {
  font-family: 'Overlock', cursive;
  font-size: 40px;
  text-align: center;
  color: white;

}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  padding: 10px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 13.5pt;
}

li {
  float: left;
}

li a {
  text-shadow: 3px 3px black;
  text-decoration: none;
  display: block;
  color: #7FFFD4;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  text-shadow: 1px 1px #000080;
  color: #000080;
  background-color: #FFFFE0;
}

table {
  text-align: center;
  border: 7px solid white;
  padding: 18px;
	height: 718px;
	width: 690px;
	margin: 0;
  padding: 0;
	border-collapse: collapse;
  align: center;
}

h2 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 50px;
  text-align: center;
  color: white;
}

form {
  text-align: center;
  font-family: 'Overlock', cursive;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px black;
}

#range {
  width: 110px;
}

h4 {
  text-align: center;
  font-family: 'Overlock', cursive;
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px black;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  font-family: 'Josefin Slab', cursive;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Hwd1QY5IKltGBwT6ur1Sh5IbBQkeGY4tJxkbbXQtpR757xln');
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  text-shadow: 1px 1px blue;
}

.sidenav a:hover {
  color: black;
  text-shadow: 0 0 5px #00CDFF;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.material-icons.md-36{
  font-size: 36px;
}

span i {
  color: white;
}

span i:hover {
  color: gray;
}
