body {
  background-image: url('https://images.pexels.com/photos/875858/pexels-photo-875858.png?cs=srgb&dl=animal-dawn-desktop-backgrounds-875858.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  font-family: 'Londrina Shadow', cursive;
  font-size: 20px;
  margin-left: 20px;
}

m {
  font-size: 60px;
  text-shadow: 3px 3px lightblue;
}

h5{
  text-align: center;
  font-family: 'Josefin Slab', cursive;
  font-size: 32px;
  color: white;
  text-shadow: 1px 1px pink;
}

button {
  font-family: 'Josefin Slab', cursive;
  border: none;
  color: black;
  padding: 16px 16px;
  text-align: center;
  font-size: 50px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  border: 8px solid lightblue;
}

button:hover {
  opacity: 1;
}
