body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3d/Yellow_square_happy_smiley.jpg');
  background-size: 4%;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-e
  color: black;
  margin: 0px;
}

h2 {
  font-family: 'Cinzel Decorative', cursive;
  background-color: #F5C102;
  font-size: 18pt;
  color: black;
  /* text-shadow: 1px 1px black; */
  font-family: 'Londrina Shadow', cursive;
  font-size: 70px;
  text-align: center;
}

#choose {
  text-align: center;
  font-size: 13px;
  font-family: 'Source Code Pro', cursive;
}

.mood {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 190px 190px 190px;
}

button {
  background-color: black;
  color: #7FFFD4;
  text-align: center;
  align-items: center;
  border-color: #2b2b2b;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}

#stressed:hover {
  background-color: black;
  text-shadow: 2px 2px #333;
  background-size: 200% 100%;
}

#scared:hover {
  background-color: #ad3434;
  text-shadow: 2px 2px #333;
}

.mood #nervous:hover {
  background-color: #ffae52;
  text-shadow: 2px 2px #333;
}

.mood #mixed:hover {
  background-color: #a9ff9c;
  text-shadow: 2px 2px #333;
}

.mood #normal:hover {
  background-color: #81dadb;
  text-shadow: 2px 2px #333;
}

.mood #relaxed:hover {
  background-color: #3b95e3;
  text-shadow: 2px 2px #333;
}

.mood #calm:hover {
  background-color: #fa6b6b;
  text-shadow: 2px 2px #333;
}

.mood #cool:hover {
  background-color: #ffabed;
  text-shadow: 2px 2px #333;
}

.mood #loved:hover {
  background-color: #ede96f;
  text-shadow: 2px 2px #333;
}

.mood #romantic:hover {
  background-color: #2a801d;
  text-shadow: 2px 2px #333;
}

.mood #passionate:hover {
  background-color: #1e8385;
  text-shadow: 2px 2px #333;
}

.mood #happy:hover {
  background-color: #d5abff;
  text-shadow: 2px 2px #333;
}

ul {
  list-style-type: none;
  background-color: black;
  padding: 10px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 13.5pt;
}

li {
  float: left;
}

li a {
  text-shadow: 3px 3px black;
  text-decoration: none;
  display: block;
  color: #7FFFD4;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  text-shadow: 1px 1px #000080;
  color: #000080;
  background-color: #FFFFE0;
}
