body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/aa/Polarlicht_2.jpg');
<<<<<<< HEAD
  background-size: 120%;
  color: black;
  margin: 0px;
=======
>>>>>>> f33e3b0b5d878dbd86e0cc8a8c414514e4f70abe
}

h1 {
  color: white;
<<<<<<< HEAD
  font-size: 32pt;
  font-family: 'Londrina Shadow', cursive;
  text-shadow: 3px 3px #000080;
  font-size: 35pt;
  text-align: center;
}

h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 18pt;
  color: black;
  text-shadow: 1px 1px black;
=======
  font-family: 'Londrina Shadow', cursive;
  font-size: 70px;
>>>>>>> f33e3b0b5d878dbd86e0cc8a8c414514e4f70abe
}

#choose {
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: 'Source Code Pro', cursive;
}

.mood {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 190px 190px 190px;
}

button {
  background-color: #333;
  color: #7FFFD4;
  text-align: center;
  align-items: center;
  border-color: #2b2b2b;
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
}

.mood #stressed:hover {
  background-color: black;
  color: white;
  text-shadow: 2px 2px #333;
  background-size: 200% 100%;
}

.mood #scared:hover {
  background-color: #ad3434;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #nervous:hover {
  background-color: #ffae52;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #mixed:hover {
  background-color: #a9ff9c;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #normal:hover {
  background-color: #81dadb;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #relaxed:hover {
  background-color: #3b95e3;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #calm:hover {
  background-color: #fa6b6b;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #cool:hover {
  background-color: #ffabed;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #loved:hover {
  background-color: #ede96f;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #romantic:hover {
  background-color: #2a801d;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #passionate:hover {
  background-color: #1e8385;
  color: white;
  text-shadow: 2px 2px #333;
}

.mood #happy:hover {
  background-color: #d5abff;
  color: white;
  text-shadow: 2px 2px #333;
}
<<<<<<< HEAD

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  padding: 10px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 13.5pt;
}

li {
  float: left;
}

li a {
  text-shadow: 3px 3px black;
  text-decoration: none;
  display: block;
  color: #7FFFD4;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  text-shadow: 1px 1px #000080;
  color: #000080;
  background-color: #FFFFE0;
}
=======
>>>>>>> f33e3b0b5d878dbd86e0cc8a8c414514e4f70abe
