body {
  color: black;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFE8C0;
  background-image: url('https://wpmisc.com/sites/default/files/wallpaper/nature/72648/oceanfront-waves-hd-wallpapers-72648-3535210.png');
  background-image:
}

span {
  top: 0;
  position: absolute;
  padding-top: 25px;
  padding-left: 10px;
  cursor: pointer;
}

p {
  text-shadow: 2px 2px black;
}

#happy {
  background-color: #FF8459;
  color: white;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 75px;
  margin: 0;
  z-index: 2;
}

#yogatime {
  font-size: 80px;
  text-align: center;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

#pose {
  font-size: 60px;
  text-align: center;
  font-family: 'Josefin Slab', cursive;
}

#images {
  font-size: 60px;
  text-align: center;
  font-family: 'Josefin Slab', cursive;
}

#images a {
  color: white;
}

#images a:hover {
  color: #F9A47D;
}


.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  font-family: 'Josefin Slab', cursive;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Hwd1QY5IKltGBwT6ur1Sh5IbBQkeGY4tJxkbbXQtpR757xln');
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  text-shadow: 1px 1px blue;
}

.sidenav a:hover {
  color: black;
  text-shadow: 0 0 5px #00CDFF;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.material-icons.md-36{
  font-size: 45px;
}

span i {
  color: white;
}

span i:hover {
  color: #FFE8C0;
}
